body{

    background-image: url(/img/WallpaperSun.jpg);
}

*{
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: 0;
}


.header{
    
    background-image: url(/img/WallpaperSun.jpg);
    text-align: center;
    padding: 20px;
}

#Contact{

    padding: 100px;
    background-color: rgb(142, 178, 245);
    border-width: 10%;
    border: 2px solid rgb(255, 0, 43);
    margin: 5% 20px;
    border-radius: 50px;
    font-family: "Grechen Fuemen", serif;


}

#Inicio{

    padding: 20px;
    background-color: aqua;
}

#Nosotros{
    padding: 20px;
    background-color: bisque;
    
}

footer{

    text-align: center;
    font-weight: bolder;
}
h1{
    text-align:  center;
}



















h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(54, 42, 165, 0.836);
    
}

.Parrafo1{
    text-align: center;
    color: fuchsia;
}
.Parrafo2{

    color: blue;
}

button{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(219, 16, 94);
    width: 220px;
    height: 80px;
    font-size: 30px;
    margin-left: 561px;
        
}

img{

    background-color: blueviolet;
    border-radius: 50%;
    width: 220px;
}

